body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.fixed-enroll::-webkit-scrollbar {
  width: 8px;
}

.fixed-enroll::-webkit-scrollbar-track {
  background-color: rgb(241, 241, 241);
}

.fixed-enroll::-webkit-scrollbar-thumb {
  background-color: rgb(193, 193, 193);
  border-radius: 30px;
}

nav {
  /* background-color: rgba(173, 216, 230, 0.85); */
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

nav,
footer,
.card {
  border-radius: 15px;
}

.card {
  overflow: hidden;
}

/* #toggleNav {
  background-color: rgba(173, 216, 230, 0.6);
  transition: all 0.8s;
} */

.btn {
  border-radius: 10px;
}

.row {
  position: relative;
}

.fixed-enroll {
  position: fixed;
  top: auto;
  left: 0;
  width: 25%;
  height: 80vh;
  overflow-y: auto;
}

.image-size {
  /* width: 406px; */
  height: 240px;
  overflow: hidden;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#splide01-track {
  height: 500px;
  padding: 10px;
}

.cardBodyAnimation {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.card:hover .cardBodyAnimation {
  transition: all 0.3s;
  opacity: 1;
  transform: rotateX(0deg);
}

.card-header-title {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  transition: all 0.3s;
}

.card:hover .card-header-title {
  transition: all 0.3s;
  opacity: 0;
}

.carousel-inner {
  height: 500px;
}

.slider-information {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 248, 255, 0.74);
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  .fixed-enroll {
    position: static;
    width: 100%;
    height: auto;
  }
}
